*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-1{
    display: flex;
}

.container-2{
    display: flex;
    flex-direction: column;
    background: #353353;
    width: 100%;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: auto;
}

.header{
    flex: auto;
    width: 250px;
    height: 100vh;
}

.vl {
    left: 9.9%;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 100vh;
    position: fixed;
    top: 0;
}

.home{
    flex: auto;
}

.home-logo{
    display: table;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    margin-top: 250px;
}

.home h1{
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
}

.home h2{
    display: table;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 200;
}

.home h2 a{
    text-decoration: none;
    color: #fff;
}

.links-container{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.links-container img{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.contact-button{
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ee5555;
    border: none;
    color: white;
    padding: 8px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.2s;
}

.contact-button:hover {
    background: rgb(139, 58, 58);
}

.side-nav{
    width: 250px;
    height: 100%;
    background: #353353;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo{
    display: table;
    margin: 0 auto;
}

.logo-img{
    width: 128px;
    height: 128px;
}

.nav-links{
    list-style: none;
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}

.nav-links li{
    padding: 10px 0;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    text-align: left;
    display: table;
    line-height: 40px;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: -32%;
    top: 2.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.2s;
}

.nav-links li:hover a{
    color: #ee5555;
    transition: 0.3s;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
    top: 2.41%;
}

.nav-links li:nth-child(2):hover ~ .active{
    top: 22.3%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 42.1%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 61.9%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 82.3%;
}

.logo-icon{
    display: none;
    width: 64px;
    height: 64px;
}


@media only screen and (max-width: 600px){
    .side-nav{
        width: 110px;
    }

    .logo-icon{
        display: block;
        margin-left: -7px;
    }
    .logo-img{
        display: none;
    }

    .nav-links li a p{
        display: none;
    }

    .nav-links li a{
        padding-top: 25px;
    }

    .nav-links{
        list-style: none;
        position: relative;
        margin-top: 50px;
        margin-left: 45px;
    }

    .active{
        background: #fff;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -42.515px;
        z-index: -1;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
        transition: top 0.2s;
    }

    .nav-links li:nth-child(1):hover ~ .active{
        top: 15.5%;
    }

    .nav-links li:nth-child(2):hover ~ .active{
        top: 35.5%;
    }

    .nav-links li:nth-child(3):hover ~ .active{
        top: 55.5%;
    }

    .nav-links li:nth-child(4):hover ~ .active{
        top: 75.5%;
    }

    .nav-links li:nth-child(5):hover ~ .active{
        top: 95.5%;
    }

    .header{
        width: 110px;
    }
}