<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://i.imgur.com/VK0NYli.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A questing system that allows the user to easily create quests with little to no Lua knowledge.
                            </div>
                            <div class="project-name">
                                Questing System
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://i.imgur.com/l4fEG8S.png" class="img-responsive" alt="https://github.com/privateryann1/ulxticketsystem/">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                This is a system that turns the standard '@' admin message into a ticket. Staff members can accept tickets, and it has quick access for SteamID, bring, goto, and return using the actions button.
                            </div>
                            <div class="project-name">
                                Ticket System
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://i.imgur.com/HgM8pmL.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                This is a clean, simplistic menu that shows the top 3 people of each defined category: Kills, Deaths, KDR, and Money.
                            </div>
                            <div class="project-name">
                                Leaderboard
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://i.imgur.com/gB4u2a8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                This is a standard system where you stand on the point and it starts to capture for your team. This project is still work-in-progress.
                            </div>
                            <div class="project-name">
                                Point Capture System
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://raw.githubusercontent.com/privateryann1/ryan-portfolio/master/gifs/jailcommand.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                This is a custom ULX command that improves the default jail from ULX. This strips the target, teleports them to your defined room, and keeps them there for a specified amount of time. The target cannot switch jobs, spawn props, and suicide to get out. If they reconnect to the server, they will still be jailed. Also includes commands to add jail positions in-game. (Also supports SAM admin mod)
                            </div>
                            <div class="project-name">
                                Jail Command
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://raw.githubusercontent.com/privateryann1/ryan-portfolio/master/gifs/simpleai.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                This is a system that allows you to open any door through commands. It has a registering system so you can name the doors, and it uses file-saving, meaning it will persist through server restarts.
                            </div>
                            <div class="project-name">
                                ClonewarsRP "Ai"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
